@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Barlow&family=Jost:wght@500&family=Noto+Sans+Osmanya&family=Poppins:wght@300;500;600&family=Roboto:wght@100&display=swap');

*{
    font-family: Poppins, sans-serif;
}

body,html{
     background-color: var(--color1);
     transition: all 150ms ease;
     box-sizing: border-box;
}

.button {
    background-color: var(--color2);
    color: var(--color1);
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--color2) 0px 2px 29px 0px;
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    transition: all .5s ease;
}

@media only screen and (max-width: 350px) {
    .button {
        width: 125px;
        height: 45px;
    }
}

.button:hover{
    background-color: var(--color1);
    border: 1px solid var(--color2);
    color: var(--color2);
    transition: all .5s ease;
    box-shadow: none;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #5E6368;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #E4E7E7;
  background: var(--background);
  transition: .5s;
}

input:checked + .slider {
  background-color: #5E6368;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #E4E7E7;
}

/*dark white rezim */

:root {
  --color1: #0a0b0b;
  --color2: #e4e7e7;
  --color3: #111313;
}

body.light, html.light {
  --color1: #e4e7e7;
  --color2: #0a0b0b;
  --color3: #eee;
}

/*checkbox*/
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  
}

.container {
  user-select: none;
  padding: 0;
}

.checkmark {
  --clr: #0B6E4F;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

.container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: .5rem;
  animation: pulse 500ms ease-in-out;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.5em;
  top: 0.3em;
  width: 0.25em;
  height: 0.5em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0B6E4F90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0B6E4F60;
  }

  100% {
    box-shadow: 0 0 0 13px #0B6E4F30;
    rotate: 0;
  }
}

/*nav*/
nav ul li  {
    text-decoration: none;
    transition: color 1s;
    position: relative;
}

nav ul li ::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color2);
    transition: width 0.5s ease;
}

nav ul li :hover::before {
    width: 100%;
}

nav ul li :hover::after {
    width: 0%;}

